{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    <div class="col-10 col-lg-10 mx-auto">
        <div class="card">
            <div class="card-header">Checkout Form</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-check">
                        {% for add in address %}
                        <input type="radio" name="address" id="radio-{{ add.pk }}" class="form-check-input">
                        <label for="radio-{{ add.pk }}" class="form-check-label">{{ add }}</label>
                        {% endfor %}
                    </div>

                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary"> Take me </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
