<div class="col-10 col-lg-10 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.item.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.item.title }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.get_final_price }}</td>
                        </tr>
                        {% endfor %}
                        {% if order.coupon %}
                            <tr>
                                <td colspan="3">Coupon :</td>
                                <td>{{ order.coupon }} - Discount :  {{ order.coupon.disc_amount }}%</td>
                            </tr>
                        {% endif %}
                        {% if order.get_total %}
                            <tr>
                                <td colspan="3">Total Price :</td>
                                <td>Rp. {{ order.get_total }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>