{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load l10n %}

{% block title %} Stripe Payment {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stripe/stripe.css' %}">
{% endblock %}

{% block content %}
<div class="row mx-auto my-5">
    {% include 'com/order_snippet.html' %}
    <div class="col-10 col-lg-10 mx-auto">
        <form action="{% url 'com:create-payment-session' 'stripe' %}" method="post">
            <button class="btn btn-primary">Create Bill</button>
        </form>
    </div>
</div>
{% endblock %}
