{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load l10n %}

{% block title %} Stripe Payment {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stripe/stripe.css' %}">
{% endblock %}

{% block content %}
<div class="container wow fadeIn">
    <h2 class="my-5 h2 text-center">Payment</h2>
    <form action="{% url 'com:create-payment-session' 'Stripe' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary">Create bill</button>
    </form>

</div>
{% endblock %}