{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} {{ title }} Forms {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <h4 class="card-header">
            <a href="{% url 'core:home' %}" class="btn btn-secondary"> Back </a>
        </h4>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {{ form.media }}
                {% csrf_token %}
                {{ form | crispy }}
                {% if delete %}
                <div class="form-group">
                    <h2>{{ item.title }}</h2>
                </div>
                {% endif %}
                <div class="form-group">
                    {% if not delete %}
                    <button class="btn btn-primary">save</button>
                    {% else %}
                    <button class="btn btn-danger">Delete</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
