{% extends 'base.html' %}

{% block title %} Item List Page {% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% for item in items %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">{{ item.description | safe }}</p>
                    <a href="{% url 'core:item-detail' item.item_slug %}" class="btn btn-primary">View</a>
                    <a href="{% url 'core:item-update' item.item_slug %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'core:item-delete' item.item_slug %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
